---
import Link from "../components/Link.astro";
---
<div>
    <div x-data="{ showmenu: false }" class="fixed lg:static w-full text-black bg-white custom-red-shadow">
        <div id="navbar" class="flex flex-row justify-between w-full p-3">
            <div id="logo" class="max-w-20 p-0">
                <img src="/src/assets/images/logo.png" alt="">
            </div>
            <nav id="desktopmenu" class="hidden lg:block">
                <ul class="flex flex-row gap-4">
                    <li class="text-red-600 no-underline bg-white border border-black py-2 px-10 mt-5 mb-5 text-xs hover:bg-gray-300"><Link href="#">Københavnerbilleder</Link></li>
                    <li class="text-red-600 no-underline bg-white border border-black py-2 px-10 mt-5 mb-5 text-xs hover:bg-gray-300"><Link href="#">Bogens indhold</Link></li>
                    <li class="text-red-600 no-underline bg-white border border-black py-2 px-10 mt-5 mb-5 text-xs hover:bg-gray-300"><Link href="#">Forfatteren</Link></li>
                    <li class="text-white no-underline bg-red-700 border border-white py-2 px-10 mt-5 mb-5 text-xs hover:bg-red-100"><Link href="#">Køb nu</Link></li>
                </ul>
            </nav>
            <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">Menu</button>
        </div>

        <!-- Mobile Menu -->
        <nav id="mobilmenu" class="flex flex-col content-center pt-4 w-full" 
            x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
            <ul class="w-full">
                <li class="text-center py-2 border-y-2 w-full"><Link href="#">Link 1</Link></li>
                <li class="text-center py-2 border-b-2 w-full"><Link href="#">Link 2</Link></li>
                <li class="text-center py-2 border-b-2 w-full"><Link href="#">Link 3</Link></li>
                <li class="text-center py-2 border-b-2 w-full"><Link href="#">Link 4</Link></li>
            </ul>
        </nav>
    </div>
</div>

<style>
    .custom-red-shadow {
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1);
}
</style>
